<div class="card mb-4 box-shadow">
  <img class="card-img-top" src="../../../../../assets/shop2.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"><strong><small class="text-muted">{{110 |currency:'INR'}}</small></strong></p>
    <p class="card-text">Nice Phone</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary product">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary product">View Details</button>
      </div>
    </div>
  </div>
</div>
