<div class="card mb-4 box-shadow">
  <img
    class="card-img-top"
    src="{{ productItem.imageUrl }}"
    alt="Card image cap"
  />
  <div class="card-body">
    <h5>{{ productItem.name }}</h5>
    <p class="card-text">
      <strong
        ><small class="text-muted">{{
          productItem.price | currency: "INR"
        }}</small></strong
      >
    </p>
    <p class="card-text">{{ productItem.description | slice:0:20 }}...</p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-primary product" (click)="onAddToCart()" >
          Add to Cart
        </button>
        <button type="button" class="btn btn-sm btn-outline-secondary product">
          View Details
        </button>
      </div>
    </div>
  </div>
</div>
